@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}
html {
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #333;
  width: 100%;
  height: 100%;
}
.slideContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.screen {
  width: 100%;
  height: 100%;
  .screenContent {
    height: 100%;
  }
}
